body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: rgb(44, 44, 44);
    width: 1000px;
    height: 500px;
}

.selections{
    width:600px;
    height: 600px;
    background-color: #272727;
}


#capture{
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #272727; !important
}

textarea{
  width: 100%;
  padding: 2rem .5rem;
  background: transparent;
  border: 0;
  text-align: center;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  resize: none;
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
}


h1{
    font-size: 36px;
}

h1{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 small{
    font-size: 65%;
}

h1 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
    display: block;
   padding-top: 15px;
}
.specific{
    background-color: #fff;
}

p a{
padding: 5px;
}







































body {
    background-color: #272727;
    width: 1920;
    height: 1080;
}

.download-container {
    background-color: #272727;
    font-family: Sans-serif;
    margin-bottom: 1em;
    width: 1920;
    height: 1080;
}

img {
    visibility: hidden;
}

button {
    font-size: 1.25em;
    padding: 1em;
}

.table {
    width: 15%;
    margin-bottom: 1rem;
    color: #ffffff;
    vertical-align: bottom;
    margin-top: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

td {
    width: 64px;
}

.table td,
.table th {
    padding: 0.15rem;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #dee2e600;
    font-weight: normal;
}

.table-section {}

h2 {
    font-size: 4rem;
    margin-top: 1rem;
    color: #f8f9fa !important;
}

.smile-icons {
    display: flex;
}

.buttonflex {
    display: flex;
}

label {
    margin: 0;
}

.btn-link {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 90%);
    font-weight: 600;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
    font-weight: bold;
}


.bg-light {
    background-color: #7286ff !important;
    width: 100%;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(30, 30, 30);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

table.section {
    background-color: #303031;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #1f1919;
    border-style: solid;
    color: #ffffff;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.text-area {
    text-align: center;
    padding-bottom: 1.5em;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    background-color: rgb(36, 37, 39);
    padding: 0.8rem;
    width: 55rem;
}

.table-hover tbody tr:hover {
    color: #ffffff;
    background-color: rgba(18, 18, 19, 0.563);
}

.rating-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.4rem 0.8rem;
    width: 100%;
}

.rating-text p {
    color: rgba(0, 0, 16, 0.8);
    font-size: 1.3rem;
    padding: 0.3rem;
}

.rating {
    background-color: rgba(0, 0, 16, 0.8);
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
}

svg {
    fill: rgb(242, 242, 242);
    width: 42px
}

.rating-form-2 svg {
    height: 2rem;
    width: 2rem;
    margin: 5.5rem;
}

#radios label {
    position: relative;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

input[type="radio"]+svg {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

input+svg {
    cursor: pointer;
}

input[class="fav"]:hover+svg,
input[class="fav"]:checked+svg,
input[class="fav"]:focus+svg {
    fill: rgb(0, 109, 217);

}

input[class="like"]:hover+svg,
input[class="like"]:checked+svg,
input[class="like"]:focus+svg {
    fill: rgb(0, 204, 79);
}

input[class="maybe"]:hover+svg,
input[class="maybe"]:checked+svg,
input[class="maybe"]:focus+svg {
    fill: rgb(232, 214, 0);
}

input[class="not-interested"]:hover+svg,
input[class="not-interested"]:checked+svg,
input[class="not-interested"]:focus+svg {
    fill: rgb(229, 132, 0);
}

input[class="limit"]:hover+svg,
input[class="limit"]:checked+svg,
input[class="limit"]:focus+svg {
    fill: rgb(239, 42, 16);
}